<div class='container'>
  <div class='card card-register mx-auto mt-5'>
    <div class='card-header'>Register and Account</div>
    <div class='card-body'>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <%= label_tag :account_company, 'Company' %><br />
              <%= text_field :account,
                             :company,
                             autocomplete: 'ompany',
                             placeholder: 'Acme',
                             class: 'form-control' %>
            </div>
            <div class='col-md-6'>
              <%= label_tag :account_website, 'Website' %><br />
              <%= text_field :account,
                             :website,
                             autocomplete: "website",
                             placeholder: 'https://acme.com',
                             class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name,
                               autocomplete: 'first_name',
                               class: 'form-control' %>
            </div>
            <div class='col-md-6'>
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name,
                               autocomplete: 'last_name',
                               class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: 'email' %>
        </div>
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <%= f.label :password %><br />
              <%= f.password_field :password,
                                   autocomplete: 'off',
                                   class: 'form-control' %>
            </div>
            <div class='col-md-6'>
              <%= f.label :password_confirmation %><br />
              <%= f.text_field :password_confirmation,
                               autocomplete: 'off',
                               class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Register', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
