<body class="unauthenticated" data-controller="<%= controller_name %>" data-action="<%= action_name %>" id="page-top">
  <%= render "layouts/unauthenticated/header" %>
  <%= yield %>
  <%= render "layouts/unauthenticated/footer" %>
</body>
