<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div>
  <h1>Welcome#index</h1>
  <% if user_signed_in? %>
    <%= link_to 'sign_out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'sign_in', new_user_session_path %>
    <%= link_to 'sign_up', new_user_registration_path %>
  <% end %>
</div>
