<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stripe ID</th>
      <th>Unit Label</th>
      <th>Statement Descriptor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.stripe_id %> </td>
        <td><%= product.unit_label %> </td>
        <td><%= product.statement_descriptor %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
